@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Archivo:wght@500&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rye&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sancreek&display=swap');
/*
font-family: 'Alfa Slab One', cursive;
font-family: 'Archivo', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Rye', cursive;
font-family: 'Sancreek', cursive;
*/
/*
utilidades
*/
body {
    background-image: url('../img/old_book_1.jpg');
    background-position: center;
    background-size: cover;
}
.limpiar {
    clear:both;
    border-bottom: 1px solid black;
    border-width: 5px;
    border-style:dashed;    
}
header {
    width:100%;
    
}

header h1 {
    text-align: center;  
    font-size: 4rem;
    margin-top: 10px;
    font-family: 'Rye', cursive;
          
}
h1 ul {
    margin-top:20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: black;
}
.header-up {
    width: 80%;
    margin: 0 auto;    
}

.header-up p {
    float:left;
    font-size: 2rem;    
}

p.iconos {
    float: right;
    font-size: 2rem;
}
nav {
    width: 35%;
    margin: 0 auto;
}
ul li {
    list-style: none;
    float:left;
    padding-right:40px;
    padding-bottom: 20px;;
    font-size: 2rem;
}
aside {
    float:left;    
    width:30%;
}

article h3 {    
    font-size: 2rem;  
    font-family: 'Sancreek', cursive;  
}
article p {
    width: 80%;
    padding-left: 5%;
    font-size: 1rem;
    font-family: 'Roboto Slab', serif;
}
.imagen-aside {
    border-radius: 5%; 
    width: 90%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0);            
}
.imagen-main-top {
    border-radius: 5%; 
    height: 400px;
    width: 90%;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0);
}
.imagen-main-second{
    border-radius: 5%; 
    height: 300px;
    float:left;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0);
}
figcaption {
    font-style: italic;
    font-size: 1.5rem;
}

section{
    float:right;    
    width:65%;
}
section article {
    float: right;    
}
section article p {
    width: 100%;        
    font-size: 1rem;
    padding-left: 0;
}
.minis img{
    border: 2px solid black;
    width:30%;
    height: 300px;
    float:left;
    margin-right: 10px;
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0);
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align:right;
}
.left{
    float:left;
}
.right{
    float:right;
}

