/* /Pages/Western.razor.rz.scp.css */
*[b-b7hh2dhn76] {
   font-family: 'Sancreek', cursive; 
}
.bg-old[b-b7hh2dhn76]{
    background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 100%), url("img/old_book_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dotted[b-b7hh2dhn76] {    
    border-bottom: solid 3px black;
    border-style: dotted;
}

img[b-b7hh2dhn76] {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0);
}

.ff-1[b-b7hh2dhn76] {
    font-family: 'Sancreek', cursive;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-fsyfcs59sg] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-fsyfcs59sg] {
    flex: 1;
}

.sidebar[b-fsyfcs59sg] {
    background-color: #f7f7f7;
}

.top-row[b-fsyfcs59sg] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-fsyfcs59sg]  a, .top-row .btn-link[b-fsyfcs59sg] {
        white-space: nowrap;
        margin-left: 1.5rem;
    }

    .top-row a:first-child[b-fsyfcs59sg] {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-fsyfcs59sg] {
        display: none;
    }

    .top-row.auth[b-fsyfcs59sg] {
        justify-content: space-between;
    }

    .top-row a[b-fsyfcs59sg], .top-row .btn-link[b-fsyfcs59sg] {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-fsyfcs59sg] {
        flex-direction: row;
    }

    .sidebar[b-fsyfcs59sg] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-fsyfcs59sg] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-fsyfcs59sg] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-z0idotq979] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-z0idotq979] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-z0idotq979] {
    font-size: 1.1rem;
}

.oi[b-z0idotq979] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-z0idotq979] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-z0idotq979] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-z0idotq979] {
        padding-bottom: 1rem;
    }

    .nav-item[b-z0idotq979]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-z0idotq979]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-z0idotq979]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-z0idotq979] {
        display: none;
    }

    .collapse[b-z0idotq979] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}
