@page "/"

<div class="container">
    <div class="row">
        <div class="col">
            <div class="text-center">
                <img src="assets/logo.png" class="img-thumbnail" width="300" alt="Responsive image">
                <h1>Welcome to</h1>
                <h2>TNZ <small class="text-muted">Servicios Informaticos</small></h2>
            </div>
        </div>
    </div>
</div>
