 @inject IDialogService DialogService 
 @inject IToastService ToastService


<FluentGrid Spacing="3" AdaptiveRendering="true" Justify="JustifyContent.Center">
    <FluentGridItem xs="12" Style="display: flex; justify-content: center; align-items: center;">        
        <img src="assets/logo.png" alt="Responsive image" style="border-radius:25px;max-height:250px;" />        
    </FluentGridItem>    
    <h1 style="width:100%;text-align:center;">TNZ Servicios Informaticos</h1>
    <h2 style="width:100%;text-align:center;">Consultoría y Formación<br>Especializada<br>en <strong style="color: #512BD4;">Blazor</strong> y <strong style="color: #0078D7;">Dotnet</strong></h2>    
    <FluentGridItem xs="12" Style="display: flex; justify-content: space-evenly; align-items: center;">
        <img src="assets/blazor-logo-trans.png" class="img-thumbnail" alt="Responsive image" style="border-radius: 25px;max-height:150px;">
        <img src="assets/dotnet-logo-trans.png" class="img-thumbnail" alt="Responsive image" style="border-radius: 25px;max-height:150px;">
    </FluentGridItem>
    <h2 style="width:100%;text-align:center;">Transformamos tus <br>ideas en realidad<br>con soluciones <strong style="color: #512BD4;">Blazor</strong><br> de alta calidad</h2>
</FluentGrid>
 
<Services />
<h3 style="width:100%;text-align:center;">Contáctanos</h3>
<FluentButton Appearance="Appearance.Accent" Style="min-height:45px;min-width:90px;border-radius:10px;" OnClick="@EditAsync"><FluentIcon Value="@(new Icons.Regular.Size48.Mail())" Color="@Color.Lightweight" /></FluentButton>
<Vision/>
<WhyBlazor/>
<WorkWithUs/>


@code{
    //OnClick="@EditAsync"
    SimpleEditCatalog.RegisterContent DialogData { get; set; } = new();

    private async Task EditAsync()
    {
        DialogData = new();
        var data = DialogData;

        var dialog = await DialogService.ShowDialogAsync<SimpleEditCatalog>(data, new DialogParameters()
        {
            Height = "85vh",
            Title = $"Contacta con nosotros",
            PreventDismissOnOverlayClick = true,
            PreventScroll = true,
        });

        var result = await dialog.Result;
        if (!result.Cancelled && result.Data != null && result.Data is not string)
        {
            DialogData = (SimpleEditCatalog.RegisterContent)result.Data;
            ToastService.ShowSuccess("Gracias por contactar con nosotros.");
        }
        else if (result.Cancelled)
        {
            ToastService.ShowWarning("Solicitud de contacto cancelada.");
        }
        else if(result.Data != null && result.Data is string)
        {
            ToastService.ShowError($"La solicitud de contacto ha fallado.\r\n{result.Data}");
        }
        else
        {
            ToastService.ShowError("La solicitud de contacto ha fallado.");
        }    
    }
}