
<section>
    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" Width="100%">
        <h2>Nuestros Servicios</h2>
        <p>Ofrecemos consultoría especializada y formación en Blazor para ayudarte a alcanzar tus objetivos tecnológicos.</p>
        <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.Center" VerticalAlignment="VerticalAlignment.Center" Width="100%">
            <FluentCard Style="width: 20%;background-color: #6A1B9A; color:white;">Consultoría en Blazor</FluentCard>
            <FluentCard Style="width: 20%;background-color: #6A1B9A; color:white;">Desarrollo de aplicaciones Blazor</FluentCard>
            <FluentCard Style="width: 20%;background-color: #6A1B9A; color:white;">Formación y talleres especializados</FluentCard>
            <FluentCard Style="width: 20%;background-color: #6A1B9A; color:white;">Soporte y mantenimiento</FluentCard>
        </FluentStack>
    </FluentStack>
</section>
