<section>
    <h2>Nuestra Visión</h2>
    <p>En TNZ Servicios Informaticos, creemos en la innovación, la calidad y el compromiso con nuestros clientes. Nos esforzamos por ofrecer soluciones personalizadas que se adapten a las necesidades específicas de cada cliente.</p>
</section>