@page "/"

<PageTitle>Home</PageTitle>

<section>
    <FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Top" HorizontalAlignment="HorizontalAlignment.Center" Width="100%" Style="margin-top: 30px;height: 85vh;padding-inline: 5px;" HorizontalGap="5">
        <LandingHeader/>
        <MoreInfo/>  
        <CallToAction/>
    </FluentStack>
</section>
 