@page "/"

<PageTitle>Home</PageTitle>

<FluentStack Orientation="Orientation.Vertical" VerticalAlignment="VerticalAlignment.Top" HorizontalAlignment="HorizontalAlignment.Center" Width="100%" Style="margin-top: 5px;height: 85vh;">
    <img src="assets/logo.png" class="img-thumbnail" width="150" alt="Responsive image">
    <h2>TNZ <small class="text-muted">Servicios Informaticos</small></h2>
    <h4> Soluciones empresariales con Blazor y dotnet</h4>
</FluentStack>
