@page "/western"

<div class="container-fluid bg-old">
    <div class="row">
        <div class="col">
            <h1 class="text-center fw-bold">"Noticias Del Mundo"</h1>
                            
            <div class=""></div>
        </div>
    </div>
    <div class="row"> 
        <div class="col text-center fw-bold">
            <h3>18/12/1854</h3>
        </div>
        <div class="col text-end fs-2">
            <a href="" class="link text-dark"><i class="bi bi-facebook me-3"></i></a>
            <a href="" class="link text-dark"><i class="bi bi-instagram me-3"></i></a>
            <a href="" class="link text-dark"><i class="bi bi-twitter me-3"></i></a>
        </div>        
    </div>
    <div class="row dotted mb-5">
        <div class="col text-center  fw-bold">
            <a class="text-decoration-none text-dark fs-4 me-4" href="">Inicio</a>
            <a class="text-decoration-none text-dark fs-4 me-4" href="">Contenido</a>
            <a class="text-decoration-none text-dark fs-4 me-4" href="">Nosotros</a>
            <a class="text-decoration-none text-dark fs-4 me-4" href="">Noticias</a>
        </div>
    </div>
    <div class="row">
        <div class="col col-md-4">
           <div class="mb-3">
                <div class="">
                    <h5 class="card-title fw-bold fs-2">El Paso se independiza</h5>
                    <img src="img/1.jpg" class="img-thumbnail round" alt="...">
                    <p class="card-text"><small class="text-muted">El Paso main street</small></p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nam, ullam quae reprehenderit sequi sapiente saepe temporibus repellat vitae veniam enim non voluptatem itaque similique architecto repellendus molestias maxime voluptatibus voluptates. Similique animi ea, quo minima obcaecati excepturi voluptate nemo.</p>
                </div>            
            </div>
            <div class="">
                <div class="">
                    <h5 class="card-title fw-bold fs-2">Nuevo hotel en Nebraska</h5>
                    <img src="img/5.jpg" class="img-thumbnail round" alt="...">
                    <p class="card-text"><small class="text-muted">Hotel "Continental"</small></p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nam, ullam quae reprehenderit sequi sapiente saepe temporibus repellat vitae veniam enim non voluptatem itaque similique architecto repellendus molestias maxime voluptatibus voluptates. Similique animi ea, quo minima obcaecati excepturi voluptate nemo.</p>
                </div>            
            </div>
        </div>
        <div class="col col-md-8">
            <div class="row mb-3">
                <div class="col">
                    <h5 class="card-title fw-bold fs-2">HUELGA OBRERA en la Cooper Street</h5>
                    <img src="img/3.jpg" class="img-thumbnail rounded w-100" alt="...">
                    <p class="card-text"><small class="text-muted">Obreros en huelga</small></p>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nam, ullam quae reprehenderit sequi sapiente saepe temporibus repellat vitae veniam enim non voluptatem itaque similique architecto repellendus molestias maxime voluptatibus voluptates. Similique animi ea, quo minima obcaecati excepturi voluptate nemo.Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia nam, ullam quae reprehenderit sequi sapiente saepe temporibus repellat vitae veniam enim non voluptatem itaque similique architecto repellendus molestias maxime voluptatibus voluptates. Similique animi ea, quo minima obcaecati excepturi voluptate nemo.</p>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col">
                    <div class="mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                            <img src="img/4.jpg" alt="..." class="img-thumbnail">
                            </div>
                            <div class="col-md-8 p-5">
                                <div class="">
                                    <h5 class="card-title fw-bold fs-2">Se Busca "Banda Antone"</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse autem iusto quis dolores veritatis debitis quidem quibusdam, error, ab nemo deserunt officiis iure laborum. Iusto in totam earum omnis impedit sint fugiat eius aperiam. Labore aspernatur ipsum ducimus nihil iusto ex reprehenderit perferendis, excepturi earum ullam nisi. Inventore, exercitationem?</p>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-4">
                <div class="col">
                    <div class="">
                        <img src="img/6.jpg" alt="" class="img-thumbnail">
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <img src="img/2.jpg" alt="" class="img-thumbnail">
                    </div>
                </div>
                <div class="col">
                    <div class="">
                        <img src="img/7.jpg" alt="" class="img-thumbnail">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="mb-3" style="max-width: 100%;">
                        <div class="row g-0">
                            <div class="col-md-8 p-5">
                                <div class="">
                                    <h5 class="card-title fw-bold fs-2">Llega el agua a AmityVille</h5>
                                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima esse autem iusto quis dolores veritatis debitis quidem quibusdam, error, ab nemo deserunt officiis iure laborum. Iusto in totam earum omnis impedit sint fugiat eius aperiam. Labore aspernatur ipsum ducimus nihil iusto ex reprehenderit perferendis, excepturi earum ullam nisi. Inventore, exercitationem?</p>                                    
                                </div>
                            </div>
                            <div class="col-md-4">
                            <img src="img/8.jpg" alt="..." class="img-thumbnail">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@code {

}
