* {
   font-family: 'Sancreek', cursive; 
}
.bg-old{
    background-image: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 100%), url("img/old_book_1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.dotted {    
    border-bottom: solid 3px black;
    border-style: dotted;
}

img {
    -webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0); 
    box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 17px 5px 18px 5px rgba(0,0,0,0);
}

.ff-1 {
    font-family: 'Sancreek', cursive;
}