@inherits FluentMainLayout

@* <FluentToastProvider />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />
<FluentMenuProvider /> *@

<FluentLayout Style="margin-top: 10px;">    
    <FluentHeader>
        <FluentPersona Style="padding: 5px;"
            Image="assets/logo.png"
            ImageSize="50px">
        </FluentPersona>
        <FluentSpacer />
        TNZ Servicios Informaticos
        @* 
        Soluciones empresariales con Blazor y dotnet *@
    </FluentHeader>    
    <FluentBodyContent>
        @Body
    </FluentBodyContent>            
    <FluentFooter>
        <FluentStack Orientation="Orientation.Horizontal" VerticalAlignment="VerticalAlignment.Center" HorizontalAlignment="HorizontalAlignment.Center" Width="100%" Style=@("height: 40px; color: black; text-align: center;")>
            TNZ Servicios Informaticos &copy; 2024
        </FluentStack>
    </FluentFooter>    
</FluentLayout>

@* <main>  </main> *@
