

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="description" content="TNZ Servicios Informáticos - Consultoría y Formación Especializada en Blazor y Dotnet" />
    <meta name="theme-color" content="#512BD4" />
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link rel="stylesheet" href="SergioTenza.Blazor.Wasm.styles.css" />
    <link rel="icon" type="image/png" href="assets/favicon.png" />
    <script async defer src="https://tianji.tnzservicios.es/tracker.js" data-website-id="cm5pke3fu000110jokscqrzph"></script>
    <HeadOutlet @rendermode="InteractiveServer"/>
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>